<div class="footer">
      <div class="left-container">
        <div>
          <h4 class="caption">Newsletter</h4>
          <div class="form-btn">
            <input type="text" placeholder="Phone Number">
            <button class="btn">Text Me</button>
          </div>
          <p class="signup">Signup to receive infrequent emails about sample sales , specials deals and new releases</p>
          <h5 class="question">Questions? Please write us at</h5>
          <span class="info">Email: <a href="" class="">info@savvicar.com</a></span>
          <span class="info">Call: <a href="" class="">+1 972-521-8799</a></span>
          <span class="info">10680 jackson road, krum Texas, Usa</span>

          <h4 class="in-touch">Stay In Touch</h4>
          <div class="socials">
            <span class="item">
                <i class="fab fa-twitter"></i>
            </span>
            <span class="item">
                <i class="fab fa-facebook-f"></i>
            </span>
            <span class="item">
                <i class="fab fa-instagram"></i>
            </span>
            <span class="item">
                <i class="fab fa-google-plus-g"></i>
            </span>
          </div>
          <p class="copy">&copy; 2019 savvicar. All rights reserved</p>
        </div>
      </div>
      <div class="right-container">
        <div>
            <img src="assets/logo.jpg" alt="logo" class="logo">
            <article class="info">Sevvicar align-items, the second value justify-items. If the second value is omitted, the first value is assigned to both properties.
                All major browsers except Edge support the place-items shorthand property.</article>
            <h5 class="heading">Serving All of Dallas/Fort Worth Area</h5>
            <article class="info">One of the phone cash are given in a range and are valid if the information given is accurate</article>
            <div class="content">
              <div class="content-left">
                <h5 class="content-left-heading">Company</h5>
                <a href="#" class="link">About Us</a>
                <a href="#" class="link">How it works</a>
                <a href="#" class="link">Schedule Apraisal</a>
                <a href="#" class="link">Faq</a>
                <a href="#" class="link">Refer a friend</a>
              </div>
              <div class="content-right">
                  <h5 class="content-left-heading">Useful Link</h5>
                  <a href="#" class="link">How it works</a>
                  <a href="#" class="link">Terms of service</a>
                  <a href="#" class="link">Privacy Policy</a>
                  <a href="#" class="link">General Terms</a>
                  <a href="#" class="link">Partners</a>
              </div>
            </div>
        </div>
      </div>
  </div>