<div class="information">
    <div class="container">
        <h3 class="header">Safe, Simple, Fast, Friendly Selling a car in Dalas TX is easy. Savvicar is Lisenced Bonded and Insured</h3>
        <h5 class="sub-heading">In 6 minutes we can give you a range of what we can pay over the phone and schedule a free mobile appraisal. We offer same day/ next day service. Call now for more information</h5>
        <div class="content">
          <div class="item">
            <img src="assets/image4.png" alt="image 4" class="image">
            <h6 class="heading">We buy used cars, trucks, vans, mini-vans and SUV's . Any Condition</h6>
            <article class="story">Savvicar.com will purchase your vehicle regardless of condition</article>
          </div>
          <div class="item">
            <img src="assets/image5.png" alt="image 5" class="image">
            <h6 class="heading">Sell your car for top dollar Fast Safe Easy</h6>
            <article class="story">Call us today and get a free estimate. We have lots of car buyers</article>
          </div>
          <div class="item">
            <img src="assets/image6.png" alt="image 6" class="image">
            <h6 class="heading">Customers enjoy fast easy service with no headaches</h6>
            <article class="story">Savvicar.com will purchase your vehicle regardless of condition</article>
          </div>
        </div>
    </div>
  
</div>