<header>
  <div class="left-container">
    <h3 class="heading"><span>We Buy</span> Cars In Dallas TX</h3>
    <h6 class="small-heading">Free inspection at your home or office. Get an estimate in 5 minutes</h6>
    <div class="box">
      <h3 class="box-heading">We Free Offer</h3>
      <div class="box-content">
        <div class="box-item">
          <i class="material-icons"> arrow_forward </i>
          <span>We Come To You</span>
        </div>
        <div class="box-item">
          <i class="material-icons"> arrow_forward </i>
          <span>Online Direct</span>
        </div>
        <div class="box-item">
          <i class="material-icons"> arrow_forward </i>
          <span>Paperwork Handled</span>
        </div>
        <div class="box-item">
          <i class="material-icons"> arrow_forward </i>
          <span>No Dealer Overhead</span>
        </div>
      </div>
    </div>
    <button class="btn button-curve btn-light btn-heavy">Call Us 972.521.8799</button>
  </div>
  <div class="right-container">
    <img src="assets/car.png" alt="car" class="car">
  </div>
</header>