<div class="features">
  <h3 class="header">That's why we pay the most</h3>
  <h5 class="sub-header">No dealership overhead, only friendly buyers that complete the mobile appraisal...</h5>
  <div class="content">
    <div class="item">
        <i class="material-icons icon">euro_symbol</i>
      <h5 class="heading">Same Day Cash</h5>
      <article class="story">
        Are you looking to sell your car same day? Savicar pays same day cash and takes care of the paperwork
      </article>
    </div>
    <div class="item">
      <i class="material-icons icon">account_balance_wallet</i>
      <h5 class="heading">Sell Vehicle Online</h5>
      <article class="story">
        It starts online and end at your home or office. We come to you and do the estimate
      </article>
    </div>
    <div class="item">
      <i class="material-icons icon">card_giftcard</i>
      <h5 class="heading">Mobile Appraisal</h5>
      <article class="story">
        We can easily complete our mobile appraisal and give you a real offer on the spot
      </article>
    </div>
    <div class="item">
      <i class="material-icons icon">language</i>
      <h5 class="heading">To Dollars For Used Cars</h5>
      <article class="story">
        We can pay top dollar by no dealer overhead, we fancy building just friendly car buyers
      </article>
    </div>
    <div class="item">
      <i class="material-icons icon">supervisor_account</i>
      <h5 class="heading">Free Estimate</h5>
      <article class="story">
        We offer a range over the phone before we come out
      </article>
    </div>
    <div class="item">
      <i class="material-icons icon">business</i>
      <h5 class="heading">We Come To You</h5>
      <article class="story">
        We don't make you drive your car to a dealership or a facility. There is no obligation at your home or office.
      </article>
    </div>
  </div>
</div>