<div class="quote">
  <h5 class="sub-heading">Getting a quote</h5>
  <h3 class="heading">Sell your car super-fast for top dollar with Savicar's 3 step process</h3>
  <div class="quotes">
    <div class="item">
      <div class="item-image">
        <img src="assets/image1.png" alt="" class="image">
      </div>
      <div class="item-content">
        <h3>Get Your Qoute</h3>
        <article>
          Our buyers check nationwide transactions for vehicles like yours. Give us a call for free info.
        </article>
      </div>
    </div>
    <div class="item item-active">
      <div class="item-image">
        <img src="assets/image2.png" alt="" class="image">
      </div>
      <div class="item-content">
        <h3>We Come To You</h3>
        <article>
          Schedule your cash appraisal at your home or office the same day or the next day and get paid on the spot
        </article>
      </div>
    </div>
    <div class="item">
      <div class="item-image">
        <img src="assets/image3.png" alt="" class="image">
      </div>
      <div class="item-content">
        <h3>Paperwork Handled</h3>
        <article>
          We take care of the important paperwork and get your care removed the same day
        </article>
      </div>
    </div>
  </div>
</div>