<div class="faq">
    <div class="container">
      <div class="left-container">
        <h5 class="sub-heading">Blue Title</h5>
        <h3 class="heading">Purchases Blue Texas</h3>
        <article>
          Sevvicar.com purchases blue title vehicles in Texas and we can also accept vehicles with tiles from another state. If you dont have a title, no problem. Provide TX registration papers and we can
        </article>
        <footer>Still purchase your vehicle. Talk to a sales associate for details</footer>
        <button class="btn button-curve btn-light btn-heavy">Call Us 972.521.8799</button>
      </div>
      <div class="right-container">
        <div class="accordion">
          <div class="item">
            <div class="item-top">
                <h4>What kind of vehicles will you buy?</h4>
                <i class="material-icons">keyboard_arrow_up</i>
            </div>            
            <article>At sevvicar we love all kinds of vehicles including trucks, cars, vans, mini vans and Suv's. We want to buy and year, make or model</article>
          </div>
          <div class="item">
              <div class="item-top">
                  <h4>What do i need to sell my car?</h4>
                  <i class="material-icons">keyboard_arrow_down</i>
              </div>
            <article></article>
          </div>
          <div class="item">
              <div class="item-top">
                  <h4>What do i need to buy a car?</h4>
                  <i class="material-icons">keyboard_arrow_down</i>
              </div>
            <article></article>
          </div>
        </div>
        <p>For more questions visit our <a href="" class="">Visited Faq</a></p>
      </div>
    </div>
  </div>