<div class="faq">
    <div class="container">
      <div class="left-container">
        <h5 class="sub-heading">Blue Title</h5>
        <h3 class="heading">Purchases Blue Texas</h3>
        <article>
          Sevvicar.com purchases blue title vehicles in Texas and we can also accept vehicles with tiles from another state. If you dont have a title, no problem. Provide TX registration papers and we can
        </article>
        <footer>Still purchase your vehicle. Talk to a sales associate for details</footer>
        <button class="btn button-curve btn-light btn-heavy">Call Us 972.521.8799</button>
      </div>
      <div class="right-container">
        <div class="accordion">
          <div *ngFor="let item of accordion;let i=index" class="item">
            <div class="item-top">
                <h4>{{item.heading}}</h4>
                <i *ngIf="item.active" class="material-icons" (click)="accordionChange(i)">keyboard_arrow_up</i>
                <i *ngIf="!item.active" class="material-icons" (click)="accordionChange(i)">keyboard_arrow_down</i>
            </div>            
            <article *ngIf="item.active">{{item.article}}</article>
          </div>

        </div>
        <p>For more questions visit our <a href="" class="">Visited Faq</a></p>
      </div>
    </div>
  </div>