<div class="benefits">
        <div class="container">
            <h3 class="header">Benefits of using Savvicar.com</h3>
            <h5 class="sub-heading">Programmers can configure queues through available programming libraries. You can make a queue durable ( with the Durability property) to safeguard your data in case the broker crashes. You can also provide a name(with the Name property) to a queue. Other than Name and Durability, a queue has a few other properties like auto-delete, exclusive, and arguments</h5>
            <div class="content">
                <div class="item ">
                    <div class="icon icon-1">
                            <i class="material-icons">brightness_2</i>
                    </div>
                    <h5>Sell The Same Day</h5>
                        
                </div>
                <div class="item ">
                        <div class="icon icon-2">
                            <i class="material-icons">watch</i>
                        </div>
                        <h5>We come to you</h5>
                        
                </div>

                <div class="item ">
                        <div class="icon icon-3">
                              <i class="material-icons">laptop</i>
                        </div>
                        <h5>Free Estimate</h5>
                          
                </div>

                <div class="item ">
                    <div class="icon icon-4">
                            <i class="material-icons">star_border</i>
                    </div>
                    <h5>Top dollars for used cars</h5>
                        
                </div>

                <div class="item">
                  <div class="icon icon-5">
                        <i class="material-icons">send</i>
                  </div>
                  <h5>No Overhead</h5>
                    
                </div>
                <div class="item">
                        <div class="icon icon-6">
                              <i class="material-icons">mail</i>
                        </div>
                        <h5>Bill of Sale</h5>
                          
                </div>
                <div class="item">
                        <div class="icon icon-7">
                              <i class="material-icons">forum</i>
                        </div>
                        <h5>Capitalize Liability</h5>
                          
                </div>
                <div class="item">
                        <div class="icon icon-8">
                              <i class="material-icons">album</i>
                        </div>
                        <h5>Free Pickup</h5>
                          
                </div>
      
      
      

             
              
            </div>
        </div>
      
    </div>
    