@import "../../../variables.scss";
nav{
    height: 3rem;
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    
    &>.logo{
        width: 10rem;
        height: 2rem;
        // margin-left: .5rem;
    }

    &>.nav{
      display: flex;
      justify-content: space-evenly;
      margin-right: 2rem;
      font-size: 0.8rem;
      & a{
          text-decoration: none;
      }
      & span{
        padding: .9em 1em;
        font-weight: bold;
      }  
      
    }
    & > .nav-btn{
        display: none;
    }
    @media only screen and (max-width: $bp-large){
      &>.nav{
        display: none;
      }
      
      & > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      & > .nav-btn > label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        padding: 13px;
      }
      & > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: #4c4f7569;
      }
      & > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid var(--color-primary);
      }
  }
  
    

}

.overlay{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--color-primary);
  // display: none;
  padding-top: 2em;
  & a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 600;
    height: 2em;
  }
}
@media only screen and (max-width: $bp-large){
  .overlay{
    // display: flex;
  }
}